---
language: python
python: 3.6

cache: pip

install:
  - pip install --upgrade pip
  - pip install pipenv
  - pipenv install --dev

script: pipenv run pytest

notifications:
  email:
    on_failure: always
    on_success: never
